@font-face {
  font-family: 'font-class';
  src: url('iconfont.ttf?t=1621938128860') format('truetype'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

.iconfont {
  width: 1em;
  height: 1em;
  vertical-align: -0.072em;
  fill: currentColor;
  overflow: hidden;
}

.font-class {
  font-family: 'font-class' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-shanchu10:before {
  content: "\e9e5";
}

.iconjiangxu:before {
  content: '\e6ad';
}

.iconjiangxu1:before {
  content: '\e6b4';
}

.iconrenwuyuqishuaitishi:before {
  content: "\e69d";
}

.iconyingwanchengshengyugongshi:before {
  content: "\e69c";
}

.iconbiaogezhonglahou:before {
  content: "\e69b";
}

.iconbiaogezhongchaoqian:before {
  content: "\e69a";
}

.iconlahou:before {
  content: "\e699";
}

.iconchaoqian:before {
  content: "\e698";
}

.iconzhunshi:before {
  content: "\e697";
}

.iconsousuo:before {
  content: "\e633";
}

.iconhuishouzhan1:before {
  content: "\e696";
}

.iconbianzu:before {
  content: "\e695";
}

.icondelete3:before {
  content: "\e65c";
}

.iconselectRelation:before {
  content: "\e69e";
}

.iconjiaofuwu:before {
  content: "\e692";
}

.iconlichengbei:before {
  content: "\e693";
}

.iconqianhe:before {
  content: "\e694";
}

.iconzhuomian:before {
  content: "\e690";
}

.iconprev:before {
  content: "\e68f";
}

.iconnext:before {
  content: "\e68e";
}

.icon_back_to_top:before {
  content: "\e68d";
}

.iconbeizhu:before {
  content: "\e68c";
}

.iconzhankai:before {
  content: "\e68b";
}

.iconshouqi:before {
  content: "\e68a";
}

.iconzhixingren:before {
  content: "\e689";
}

.iconmuban:before {
  content: "\e688";
}

.iconupload1:before {
  content: "\e687";
}

.icondelete2:before {
  content: "\e686";
}

.icon_icon_location:before {
  content: "\e685";
}

.icon_single_arrow:before {
  content: "\e684";
}

.icon_eye_open:before {
  content: "\e683";
}

.icon_eye_close:before {
  content: "\e680";
}

.icon_doughnut_legend2:before {
  content: "\e681";
}

.icon_doughnut_legend:before {
  content: "\e682";
}

.iconshaixuan2:before {
  content: "\e67f";
}

.iconquanpin:before {
  content: "\e67b";
}

.iconkehu:before {
  content: "\e67c";
}

.iconshuoming:before {
  content: "\e67d";
}

.icontcqp:before {
  content: "\e67e";
}

.iconzhuanpai:before {
  content: "\e67a";
}

.icon_proxy_date:before {
  content: "\e679";
}

.icon_arrow_right:before {
  content: "\e678";
}

.icondaoru:before {
  content: "\e672";
}

.icondaoruchenggong:before {
  content: "\e673";
}

.iconzhengzaijinhang:before {
  content: "\e674";
}

.iconshijian:before {
  content: "\e675";
}

.iconyichangtishi:before {
  content: "\e676";
}

.iconchenggongda:before {
  content: "\e677";
}

.icon_bot_speak_dot:before {
  content: "\e671";
}

.icon_bot_eye:before {
  content: "\e670";
}

.icon_desktop_performer:before {
  content: "\e66f";
}

.icon_desktop_notice:before {
  content: "\e66e";
}

.iconxiala:before {
  content: "\e66d";
}

.iconicon_init-project:before {
  content: "\e665";
}

.iconicon_design:before {
  content: "\e666";
}

.iconicon_login-out:before {
  content: "\e667";
}

.iconicon_basic-data:before {
  content: "\e668";
}

.iconicon_project-progress:before {
  content: "\e669";
}

.iconicon_my-task:before {
  content: "\e66a";
}

.iconicon_progress-check:before {
  content: "\e66b";
}

.iconicon_project-view:before {
  content: "\e66c";
}

.iconzuixiaocengjiicon:before {
  content: "\e664";
}

.iconicon_setting:before {
  content: "\e605";
}

.iconicon_notice:before {
  content: "\e661";
}

.iconicon_all-menu:before {
  content: "\e662";
}

.iconicon_module:before {
  content: "\e663";
}

.iconicon_tenant:before {
  content: "\e600";
}

.iconxinjianicon:before {
  content: "\e660";
}

.iconxiaotianjiazixiang:before {
  content: "\e65f";
}

.iconriqi:before {
  content: "\e65e";
}

.iconqianzhirenwu:before {
  content: "\e65d";
}

.icongongshi:before {
  content: "\e65b";
}

.iconfuzeren:before {
  content: "\e65a";
}

.iconcengji:before {
  content: "\e659";
}

.icongouxuan:before {
  content: "\e658";
}

.iconbianzu12:before {
  content: "\e657";
}

.iconguanbi2:before {
  content: "\e656";
}

.iconguanbi1:before {
  content: "\e655";
}

.iconyichangxiaoicon:before {
  content: "\e654";
}

.iconyuqixiao2:before {
  content: "\e653";
}

.iconyuqi1:before {
  content: "\e651";
}

.iconyuqixiao1:before {
  content: "\e652";
}

.iconyiwancheng-xuanzhong:before {
  content: "\e650";
}

.iconbianzu22:before {
  content: "\e64f";
}

.iconzhengchang-guanliren:before {
  content: "\e64e";
}

.iconyichang-guanliren:before {
  content: "\e64d";
}

.iconperson:before {
  content: "\e64c";
}

.iconxingzhuangjiehe:before {
  content: "\e641";
}

.iconlujing1:before {
  content: "\e63e";
}

.iconlujing:before {
  content: "\e606";
}

.iconxingzhuang:before {
  content: "\e602";
}

.iconshebeizong:before {
  content: "\e601";
}

.iconz1:before {
  content: "\e64a";
}

.iconproject:before {
  content: "\e64b";
}

.iconz:before {
  content: "\e648";
}

.iconjy:before {
  content: "\e647";
}

.iconsc:before {
  content: "\e644";
}

.iconsj:before {
  content: "\e645";
}

.iconyc:before {
  content: "\e646";
}

.icongf1:before {
  content: "\e643";
}

.iconwf:before {
  content: "\e642";
}

.iconxin:before {
  content: "\e640";
}

.iconyuan:before {
  content: "\e63f";
}

.iconnone:before {
  content: "\e63d";
}

.iconclose:before {
  content: "\e63c";
}

.icontip:before {
  content: "\e63b";
}

.iconsuggestion:before {
  content: "\e637";
}

.iconhousehold:before {
  content: "\e638";
}

.icontotal:before {
  content: "\e639";
}

.iconraw-material:before {
  content: "\e63a";
}

.iconicon-test:before {
  content: "\e636";
}

.icondate-red:before {
  content: "\e635";
}

.icondate1:before {
  content: "\e634";
}

.iconset:before {
  content: "\e631";
}

.iconshare:before {
  content: "\e632";
}

.iconUpload-more:before {
  content: "\e630";
}

.icondown:before {
  content: "\e62e";
}

.iconup:before {
  content: "\e62f";
}

.iconchaxun:before {
  content: "\e62a";
}

.iconfaqi:before {
  content: "\e62b";
}

.iconjindu:before {
  content: "\e62c";
}

.iconrenwu:before {
  content: "\e62d";
}

.iconyuqi:before {
  content: "\e628";
}

.iconjinji:before {
  content: "\e629";
}

.iconconduct:before {
  content: "\e627";
}

.iconmore3:before {
  content: "\e649";
}

.iconmore2:before {
  content: "\e626";
}

.iconback:before {
  content: "\e625";
}

.icondelete1:before {
  content: "\e624";
}

.iconmore:before {
  content: "\e623";
}

.icondai:before {
  content: "\e622";
}

.iconnew:before {
  content: "\e621";
}

.iconwarn:before {
  content: "\e61b";
}

.iconagent:before {
  content: "\e61e";
}

.iconabnormal:before {
  content: "\e61f";
}

.iconnews:before {
  content: "\e620";
}

.iconimportant:before {
  content: "\e61c";
}

.iconoverdue:before {
  content: "\e61d";
}

.icongreen-hook:before {
  content: "\e619";
}

.iconignore:before {
  content: "\e61a";
}

.iconreasonable:before {
  content: "\e618";
}

.iconsuggest:before {
  content: "\e617";
}

.iconchanging:before {
  content: "\e615";
}

.iconchanged:before {
  content: "\e616";
}

.iconexplain:before {
  content: "\e614";
}

.iconreplace:before {
  content: "\e613";
}

.iconnotice2:before {
  content: "\e611";
}

.iconnotice:before {
  content: "\e612";
}

.iconProcessing:before {
  content: "\e610";
}

.iconschedule:before {
  content: "\e60f";
}

.icondate:before {
  content: "\e60d";
}

.icondelete:before {
  content: "\e60e";
}

.icondownload:before {
  content: "\e60a";
}

.icondrop-down1:before {
  content: "\e60b";
}

.icondismantle:before {
  content: "\e60c";
}

.iconsee:before {
  content: "\e607";
}

.iconrefresh:before {
  content: "\e608";
}

.iconupload:before {
  content: "\e609";
}

.iconedit1:before {
  content: "\e603";
}

.iconcall1:before {
  content: "\e604";
}

