:root {
  -webkit-app-region: drag;
}
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
dl,
dt,
dd {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-weight: normal;
}
ul {
  list-style: none;
}
img {
  border-style: none;
}

#app {
  height: 100vh;
  position: fixed;
  background: #ffffff;
  padding: 0px 44px;
}
