:root {
  -webkit-app-region: drag;
}
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
dl,
dt,
dd {
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  font-weight: normal;
}
ul {
  list-style: none;
}
img {
  border-style: none;
}

#app {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #ffffff;
}

.default-button {
  width: 60px;
  height: 32px;
  background: #e8edf4;
  border-radius: 2px;
  font-family: PingFangSC-Regular;
  color: #1a2446;
  margin-right: 16px;
  border: none;
}

.primary-button {
  width: 60px;
  height: 32px;
  background: #3366ff;
  border-radius: 2px;
  font-family: PingFangSC-Regular;
  color: #ffffff;
  border: none;
}
